$primary: #376e64;
$primaryLight: #2f4454 ;
$primaryDark: #1c3334;
$secondary: #ee4c7c;
$secondaryLight: #e3afbc;
$secondaryDark: #9a1750;
$tertiary: #45a29e;
$accent:#DA7B93 ;
$accentLight: #e3afbc;
$accentDark: #2e151b;
$light: white;
$neutral: grey;
$dark: black;

